* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

html , body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

body {
    background-color: #1f1f1f;
    color: #fff;}

.bg-dark {
    background-color: #1a1a1a;
}

.navbar {
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    color: #d4cfc4;
    padding: 0px !important;
    margin-right: 1rem;
    text-decoration: none;
}

.brand-text {
    font-size: 1.25rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    flex-grow: 1;}
    .nav-container .me-auto {
        margin-right: auto;
        padding-left: 0; }
    .nav-container .nav-upperline {
        gap: 5rem;
        display: inline-flex;
        flex-wrap: wrap!important;}
        .nav-container .nav-upperline .nav-item {
            font-size: 1rem;
            color: #d4cfc4; }

.nav-login {
    display: flex;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    margin-top: 4.8rem;
}


.nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    white-space: nowrap;}
        .nav .nav-item {
        padding: 0.55rem 0.25rem;
        font-size: 1rem; }
            .nav .nav-item .nav-link {
                color: #d4cfc4;
                padding: 0.2rem 0.75rem;
                border-radius: 0.25rem;
                display: block;
                text-transform: capitalize;
                text-decoration: none;}