* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

html , body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 1rem;
    margin-top: 110px;
}

body {
    background-color: #1f1f1f;
    color: #fff;}

.bg-dark {
    background-color: #1a1a1a;
}

.navbar {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 90px;
}

.nav-scroller {
    width: 100%;
    background-color: #0d6efd }

.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    color: #d4cfc4;
    padding: 0px !important;
    margin-right: 1rem;
    text-decoration: none; }
    .navbar-brand .brand-text {
        font-size: 1.75rem;
        white-space: nowrap;
        text-transform: uppercase; }



.nav-container {
    display: flex;
    flex-grow: 1;}
    .nav-container .me-auto {
        margin-right: auto;
        padding-left: 0; }
    .nav-container .nav-upperline {
        gap: 5rem;
        display: inline-flex;
        flex-wrap: wrap!important;
        align-items: center;}
        .nav-container .nav-upperline .nav-item {
            font-size: 1rem;
            color: #d4cfc4;
            padding: 0.55rem 0.25rem; }

.nav-login {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -1px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    white-space: nowrap;}
        .nav .nav-item {
        padding: 0.55rem 0.25rem;
        font-size: 1rem; }
            .nav .nav-item .nav-link {
                color: #d4cfc4;
                padding: 0.2rem 0.75rem;
                border-radius: 0.25rem;
                display: block;
                text-transform: capitalize;
                text-decoration: none;}

/* ILC */

.padding {
    padding: 1rem;
}

.item-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.item-list {
    border: 1px solid #1f1f1f;
    background-color: #252525;
    text-align: center;
    padding: 1rem;
}

.hover-effect:hover {
    background: linear-gradient(130deg, #0d6efd 0%, #546afd 100%);
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Item Card Area*/

.nodeco {
    text-decoration: none;
}

.iprice {
    color: white;
}

.item-card {
    display: flex;
    flex-direction: column;
    text-align: center;}
    .item-card .item-top {
        display: flex;
        flex-direction: column;
        background-color: none;
        padding-bottom: 1rem;
        padding-top: 1rem;
        height: 4rem;}
        .item-top .item-title {
            font-size: 1.5rem;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase; }
    .item-card .item-img {
        height: 11rem; }
        .item-card .item-img img {
            width: 100%;
            height: 100%;
            object-fit: cover; }

.item-img-detail img {
    width: 100%;
}

/*Item Detail*/

.item-detail {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5rem;
    gap: 5rem;
    background-color: #252525;
    color: white; }
    .item-detail .item-img-detail {
        width: 50rem;}
    .item-detail .item-detail-text {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2rem;
        font-size: 0.9rem;
        align-items: center; }
        .item-detail .item-detail-text .item-detail-title {
            font-size: 2rem;
        }

/* COUNTER AREA*/

.counter-area {
    position: relative;
    width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.counter-meter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
    background-color: white;}
    .counter-meter h2 {
        margin: 0 50px;
        font-size: 1.5rem;
        color: black;}
    .counter-meter button {
        height: 30px;
        width: 70px;
        outline: none;
        border-style: none;
        font-size: 1.5rem;
        background-color: white;
        color: blue;}

.stock-limit {
    color: red;
    font-size: 0.8rem;
}

/* resultado de agregar a carrito */

.resultado-agregar-itemdetail {
    display: flex;
    flex-direction: column;
}

/* carrito de compras */

.cart {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .cart h2 {
        font-size: 2rem; }
    .cart .cart-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f1f1f;
        background-color: #252525; }
        .cart .cart-detail .cart-img {
            width: 300px; 
            margin-left: 5rem;}
            .cart .cart-detail .cart-img img {
                width: 100%; }
        .cart .cart-detail .cart-product {
            margin: 2rem;
            display: flex;
            flex-direction: row;
            font-size: 1.5rem;
            text-transform: uppercase; }
            .cart .cart-detail .cart-product .cart-product-details {
                display: flex;
                flex-direction: column;
                width: 300px;
                margin: 1rem; }

.flex-end {
    align-items: flex-end;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.final-total {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.boton {
    width: 200px;
}

.small {
    font-size: 1rem;
}

.sugerencias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #1f1f1f;
    background-color: #252525;
}

/*media*/

@media (max-width: 1440px) {
    .sugerencias {
        display: none;
    }
}